.spa-notes {
    position: fixed;
    bottom: 50px;
    left: 50px;
    max-width: 300px;

    &__notification {
        background: white;
        padding: 20px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 6px 4px #6633991f;
        animation: wobble-hor-bottom 0.6s 3s both;

        &__title {
            font-size: 16px;
            text-align: center;
            margin: 0;
        }
    }
}

@keyframes wobble-hor-bottom {
    0% {
        opacity: 0;
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        opacity: 1;
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
}
  